pkgbase = sayonara-player-git
	pkgdesc = A small, clear and fast audio player for Linux written in C++, supported by the Qt framework. It uses Gstreamer as audio backend.
	pkgver = r1825.21020349
	pkgrel = 1
	url = http://sayonara-player.com
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = qt5-tools
	depends = qt5-base
	depends = taglib
	depends = gst-plugins-base
	depends = gst-plugins-good
	optdepends = gst-libav: additional codecs
	optdepends = gst-plugins-bad: additional codecs
	optdepends = gst-plugins-ugly: additional codecs
	provides = sayonara-player
	conflicts = sayonara-player
	conflicts = sayonara-player-beta
	source = git+https://gitlab.com/luciocarreras/sayonara-player.git
	sha512sums = SKIP

pkgname = sayonara-player-git

